h1{
    position: absolute;
    height: 47px;
    left: 631px;
    top: 25px;
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 47px;
    color: #171717;
}

.link{
    list-style: none;
    cursor:pointer;
    justify-content: space-around;
    width: 95%;
    display: flex;
    position: relative;
    top: 120px;
    

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}

.sublink{
    text-decoration: none;
    color: #1E1E1E;
}
